.modeal.fade#gallery{ tabindex: "-1", role: "dialog", "aria-labelledby": "myLargeModalLabel", "aria-hidden": true }
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        .carousel.slide#carousel-example-generic{ "data-ride": "carousel" }
          .carousel-inner

          %a.left.carousel-control{ href: "#carousel-example-generic", "data-slide": "prev" }
            %span.fa-solid.fa-chevron-left{"aria-label": 'Previous Item'}
          %a.right.carousel-control{ href: "#carousel-example-generic", "data-slide": "next" }
            %span.fa-solid.fa-chevron-right{'aria-label': 'Next Item'}


:javascript
  $(document).ready(function(){
    var count = 0;
    $('#gallery-btn').click(function(){
      if(count == 0){
        $('#gallery').modal('show');
        $('#gallery .modal-body').append('<i class="fa fa-spinner fa-spin fa-4x"></i>');
        count +=1;
      }
      else{
        $('#gallery').modal('show');
        return false;
      }
    });
  });
