.row.text-center
  - event_types.each_with_index do |type, index|
    - if (index % 5).zero? && index != 0
      %br
    .label{ style: "#{css_background_color(type.color)} display: inline-block;" }
      = "#{type.title} (#{type.length} minutes)"
    &nbsp;
%br
