.row.text-center
  - event_types.each_with_index do |type, index|
    - if (index % 6).zero? && index != 0
      %br
    = link_to url_for(controller: controller_name, action: action_name, favourites: favourites, event_type: type.title),
      class: 'btn btn-xs', style: css_background_color(type.color) do
      - if params[:event_type] == type.title
        %i.fa-solid.fa-check
      #{type.title} (#{type.length} minutes)
    &nbsp;
  - if params[:event_type]
    = link_to url_for(controller: controller_name, action: action_name, favourites: favourites), class: 'btn btn-xs btn-primary' do
      %i.fa-solid.fa-circle-xmark
      Show all events
