:javascript
  $(document).ready(function() {
    $('.js-userSelector, #users_selectize').selectize({
      plugins: ['remove_button'],
      valueField: 'id',
      labelField: 'display_name',
      searchField: 'username, name, email ',
      load: function(query, callback) {
        console.log('loaded...')
        /* if (!query.length) return callback(); */
        $.ajax({
          url: "#{search_users_path}.json",
          type: 'GET',
          dataType: 'json',
          data: {
            query: query,
          },
          error: function(res) {
            console.log('error', res)
            callback();
          },
          success: function(res) {
            console.log('success', res)
            callback(res.users);
          }
        });
      }
    });
  });
