= content_for :splash_nav do
  %li
    = link_to('< Back', :back)
  %li
    = link_to('Schedule', events_conference_schedule_path(@conference))

- content_for :head do
  :css
    body { padding-top: 50px; margin-bottom: 0; }
    .navbar { margin-bottom: 0; }
    #content { padding-bottom: 0; }
    #footer { display: none; }

%div{ style: 'display: flex; flex: 1 1 auto; height: 100%' }
  %iframe{ src: @room.embed_url, with: '67%', style: 'flex-grow: 1' }
  - if @room.discussion_url.present?
    %iframe{ src: @room.discussion_url, width: '33%' }

- if @room.discussion_url.present?
  #discourse-comments
  %meta{name: 'discourse-username', content: 'DISCOURSE_USERNAME'}
  :javascript
    DiscourseEmbed = {
      discourseUrl: 'https://forum.snap.berkeley.edu/',
      discourseEmbedUrl: "#{@room.discussion_url}",
      // className: 'CLASS_NAME',
    };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
