.room-name {
  font-weight: bold;
  padding:10px;
  margin-top: 30px;
  border: 1px solid #848484;
  background-color: #E6E6E6;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 40px;
  line-height: 25px;
  overflow: hidden;
}

.schedule-room-slot {
  padding: 2px 3px;
  border: 1px solid #848484;
  height: 58px;
  line-height: 20px;
  font-size: 13px;
}

.schedule-event {
  padding: 7px;
  border: 2px solid #151515;
  position:relative;
  z-index:1;
  cursor: move;

  a {
    color: black;
  }
}

.schedule-room-slot.compact {
  line-height: 12px;
  font-size: 10px;
  padding: 1px;
}

// When an event is in a room.
.schedule-room-slot .schedule-event.compact {
  margin-top: -14px;
  width: 85%;
  margin-left: 15%;
}

.schedule-event.compact {
  font-size: 75%;
  padding: 0;
  border-width: 1px;

  .schedule-event-text {
    line-height: 12px;
    overflow: hidden;
  }
}

.schedule-event-text {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 23px;
  overflow: hidden;
}

.schedule-event.compact {
  .schedule-event-delete-button {
    padding: 1px;
    margin-right: 3px;
  }
}

.schedule-event-delete-button {
    font-weight: bold;
    cursor: pointer;
    padding: 0 3px;
    margin-right: 5px;
    color: black;
}


.flexvideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.flexvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.speakerinfo {
    margin-top: 40px;
}

.speakerbio {
    margin-top: 10px;
}


.program-dropdown {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.program-dropdown > button,
.program-dropdown > .dropdown-menu {
  width: 100%;
}

.elipsis{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.break-words{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
   -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for webkit */
   word-break: break-word;

   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

.date-title{
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 2px;
  display:inline-block;
}

.date-content {
  border-bottom: 1px solid #6E6E6E;
  margin: 30px 0 20px;
}

.unscheduled-event{
  margin-top: 8px;
}

.track {
   padding: 0px 5px 0px 5px;
   display: inline-block;
 }

.no-events-day {
  color:  #D8D8D8 !important;
}

.non_schedulable{
  opacity: 0.5;
}

.event-panel-title {
  margin: auto 3px;
  flex: 1;
  line-height: 1.4;

  // Override some bootstrap
  small {
    line-height: 1.6;
  }
}

// Override Boostrap setting.
h3.event-panel-title small {
  line-height: 1.4;
}
