%li
  = link_to 'https://snap.berkeley.edu', target: '_blank' do
    Snap
    %em> !
%li
  = link_to 'Forum', 'https://forum.snap.berkeley.edu', target: '_blank'
%li.dropdown
  %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#', id: 'all-events' }
    All Events
    %b.caret
  %ul.dropdown-menu
    - conference_orgs = Conference.all.select { |conf| can?(:show, conf) }.group_by(&:organization)
    - conference_orgs.each do |org, conferences|
      %li.dropdown-header
        = org.name
      - conferences.sort_by(&:start_date).each do |conf|
        %li
          = link_to conf.title, conference_path(conf.short_title)
      %li.divider
